page-cube-stack-add {
    .col {
        border-top: 0px solid transparent !important;
    }
    #cube-add-confirm {
        margin-bottom: 20px;
        font-size: 25px;
    }
    button{
        outline: none !important;
    }
}