<ion-header>

  <ion-navbar color="primary" no-border-bottom>
    <ion-title>Swipe</ion-title>
  </ion-navbar>

  <ion-toolbar color="primary" no-border-top style="padding-bottom:0%;">
    <ion-segment color="light" [(ngModel)]="cardBagMode" no-border>
      <ion-segment-button value="standard" (click)="startNewRound()" style="margin-top:10px;">
        study
      </ion-segment-button>
      <ion-segment-button value="mistake" (click)="reviewFailedCards()" style="margin-top:10px;">
        mistake
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content id="allCards" padding>

  <div [ngSwitch]="cardBagMode">

    <!-- card standard mode -->
    <div *ngSwitchCase="'standard'">
      <div class="card-container" *ngIf="ready">
        <sc-card class="fp-card" (click)="toggleFlip()" [@FlipAnim]="isFlip" *ngFor="let attendant of attendants"
          [orientation]="cardDirection" [tinder-card]="cardOverlay" [callLike]="attendant.likeEvent" [callDestroy]="attendant.destroyEvent"
          (onLike)="onCardInteract($event)">
          <div class="fp-front">{{attendant.fronts}}</div>
          <div class="fp-back">{{attendant.backs}}</div>
        </sc-card>
      </div>
      <!-- FabBtn -->
      <ion-fab bottom right>
        <button class="swipeFabBtn" ion-fab color="light">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
        <ion-fab-list side="left">
          <button class="swipeFabBtn" ion-fab (click)="startNewRound()">
            <ion-icon name="ios-return-right-outline">
            </ion-icon>
          </button>
          <button class="swipeFabBtn" ion-fab (click)="repeatRound()">
            <ion-icon name="ios-sync-outline">
            </ion-icon>
          </button>
          <!-- <button class="swipeFabBtn" ion-fab (click)="reviewFailedCards()">
            <ion-icon name="ios-filing-outline">
            </ion-icon>
          </button> -->
        </ion-fab-list>
      </ion-fab>
    </div>

    <!-- card mistake mode -->
    <div *ngSwitchCase="'mistake'">

      <!-- card mistake mode -->
      <div class="card-container" *ngIf="ready">
        <sc-card class="fp-card" (click)="toggleFlip()" [@FlipAnim]="isFlip" *ngFor="let attendant of attendants"
          [orientation]="cardDirection" [tinder-card]="cardOverlay" [callLike]="attendant.likeEvent" [callDestroy]="attendant.destroyEvent"
          (onLike)="onCardInteract($event)">
          <div class="fp-front">{{attendant.fronts}}</div>
          <div class="fp-back">{{attendant.backs}}</div>
        </sc-card>
      </div>

      <!-- FabBtn -->
      <ion-fab bottom right>
        <button class="swipeFabBtn" ion-fab color="light">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
        <ion-fab-list side="left">
          <button class="swipeFabBtn" ion-fab (click)="repeatRound()">
            <ion-icon name="ios-sync-outline">
            </ion-icon>
          </button>
        </ion-fab-list>
      </ion-fab>

    </div>


  </div>

</ion-content>