<ion-header>

  <ion-navbar color="light" *ngIf="cubeStack?.titleDe">
    <ion-title style="text-align:center;">{{cubeStack.titleDe}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding no-bounce>

  <ion-grid>
    <ion-row>
      <ion-col col-1>
        <button (click)='toLastCube()' style="background:transparent;" (click)='animCube()'>
          <ion-icon id="arrow-left" name="ios-arrow-back-outline">
          </ion-icon>
        </button>
      </ion-col>
      <ion-col col-10>

        <ion-row>
          <ion-col *ngFor='let item of cubes'>
            <div class="progress">
              <div class="progress-bar" style="width:100%" *ngIf='cubeIndex>=cubes.indexOf(item)'></div>
              <!-- FIXME: 本来计划每次方块滑动都增加进度条 <div class="progress-bar" [style.width.%]="progress" ></div> -->
            </div>
          </ion-col>
        </ion-row>


      </ion-col>
      <ion-col col-1>
        <button (click)="toNextCube()" (click)="animCube()" style="background:transparent;">
          <ion-icon id="arrow-right" name="ios-arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="cubeStack-title"></div>


  <div id="anim-cube" [@myTrigger]='animState' class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background: darkslategrey; color: white; font-weight: bold;">
        <ion-grid id="cube-begin-titles">
          <ion-row id="cube-begin-titles-cn">{{cube.titleCn}}</ion-row>
          <ion-row id="cube-begin-titles-de">{{cube.titleDe}}</ion-row>
          <ion-row id="cube-begin-titles-date">{{cube.date}}</ion-row>
        </ion-grid>
      </div>

      <div class="swiper-slide" style="background: lightgray;">{{cube.cubeSide1}}</div>
      <div class="swiper-slide" style="background: lightgray;">{{cube.cubeSide2}}</div>
      <div class="swiper-slide" style="background: lightgray;">{{cube.cubeSide3}}</div>
      <div class="swiper-slide" style="background: lightgray;">{{cube.cubeSide4}}</div>
    </div>
    <!--  Pagination -->
    <div class="swiper-pagination"></div>
  </div>


  <!-- Fab btn -->
  <ion-fab id="cube-fab" bottom right>
    <button ion-fab color="light">
      <ion-icon name="ios-menu"></ion-icon>
    </button>
    <ion-fab-list side='left'>
      <button class="btn-list" ion-fab color="light" (click)="getRandomNext()" (click)='animCube()'>
        <ion-icon name="fastforward"></ion-icon>
      </button>
      <button class="btn-list" ion-fab color="light" (click)="toFirstCube()" (click)='animCube()'>
        <ion-icon name="repeat"></ion-icon>
      </button>
      <button class="btn-list" ion-fab color="light">
        <ion-icon name="clock"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>